/* Home Global styles */

.hsIndicatorButtons,
.dIndicatorButtons {
    height: 5vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.hsSlideIndicator,
.dSlideIndicator {
    border: 1px solid transparent;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    background-color: #ADB5BD;
    margin: 5px;
}

/* Hero Slideshow styles */

.heroSlideshow {
    width: 100%;
    background-color: #E8E9E6;
    position: relative;
}

.heroSlideshowWrapper {
    height: 70vh;
    width: 80%;
    max-width: 1200px;
    padding: 5%;
    /* background-color: #E9ECEF; */
    /* background-color: #F8F9FA */
}

.slideButtons {
    display: flex;
    justify-content: space-between;
}

.slideButtons button {
    position: absolute;
    top: 50%;
    background-color: #FFF;
    border: none;
}

.slideButtons button::before {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid #FFF;
}

.slideButtonL {
    left: 0;
}

.slideButtonR {
    right: 0;
}

.heroCard {
    display: flex;
    justify-content: center;
}

.heroCard figure,
.heroCardTextBox {
    width: calc(40% - 10px);
    height: 65vh;
}

.heroCardTextBox {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 20px;
    color: #666;
}

.heroCardTextBox span {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
}

.heroCardTextBox h1 {
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 2.9rem;
}

.heroCard button {
    text-transform: uppercase;
    /* background-color: #ADB5BD; */
}

.hsCurrentSlide {
    background-color: #C8A165;
}

/* Featured Product styles */

.featuredProductSection {
    width: 80%;
    display: flex;
    justify-content: center;
}

.featuredProductProduct,
.featuredProductQuote {
    width: calc(45% - 10px);
    max-width: 350px;
    margin: 20px;
    padding: 0 20px;
    background-color: #FFF;
    box-shadow: 7px 5px 5px #E9ECEF;
}

.featuredProductQuote {
    display: flex;
    align-items: center;
}

.featuredProductProduct figure {
    height: 170px;
    margin: 20px auto;
}

.featuredProductQuote figure {
    height: 220px;
}

.fpDetails {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.fpPrice {
    font-size: 1rem;
}

.fpTitleCategory {
    text-align: left;
}

.fpTitle {
    font-weight: 700;
    font-size: 1rem;
    color: #000;
}

.fpCategory {
    font-size: 0.8rem;
}

.fpQuote {
    text-align: left;
    text-transform: uppercase;
    margin-left: 30px;
    width: 50%;
}

.fpQuote p {
    color: #C8A165;
}

/* Product Slider styles */

.productSliderSection {
    margin: 0 auto;
}

.productSlider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prevNext {
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding: 5px;
    margin: 0 10px;
    letter-spacing: 0.3rem;
    border: 1px solid #ADB5BD;
    color: #ADB5BD;
}

/* Discount Section styles */

.discountSection img {
    height: 200px;
}

.discountSection h2 {
    color: #C87065;  
    margin-left: 5px;
}

.discountWrapper {
    display: flex;
    width: 85%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.discountSlider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF;
    margin: 15px;
    padding: 15px;
    max-width: 60%;
    min-height: 350px;
    position: relative;
}

.discountSliderContent {
    display: flex;
    justify-content: center;
}

.discountTextBox {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 20px;
    color: #666;
    max-width: 400px;
}

.discountP {
    font-size: 0.8rem;
    margin: 5px 10px;
}

.discountLink {
    color: #C87065;
    text-transform: uppercase;
}

.dIndicatorButtons {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.dCurrentSlide {
    background-color: #C87065;
}

.discountProductSection {
    background-color: #FFF;
    margin: 15px;
    padding: 15px;
    width: fit-content;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dProductTextBox {
    margin: 10px;
}

.dProductTextBox p {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: #000;
}

.dSaleCounter {
    display: flex;
    text-align: center;
    justify-content: center;
}

.dCountBox {
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dCountBoxCount,
.dCountBoxLabel {
    display: inline-block;
}

.dCountBoxCountContain {
    border: 1px solid #C87065;
    border-radius: 50%;
    padding: 5px 0;
    width: 35px;
}

/* Product List styles */

.productListSection {
    width: 90%;
    margin: 0 auto;
}

.productListSection ul {
    justify-content: center;
}

.productListSection ul li {
    margin: 0 10px;
}

.plListBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plListBox .productPreviewBlock {
    width: calc(25% - 60px);
}