/* Hero Slideshow styles */

.heroSlideshow {
    width: 100%;
    background-color: #E8E9E6;
    position: relative;
}

.heroSlideshowWrapper {
    height: 70vh;
    width: 80%;
    max-width: 1200px;
    padding: 5%;
    /* background-color: #E9ECEF; */
    /* background-color: #F8F9FA */
}

.slideButtons {
    display: flex;
    justify-content: space-between;
}

.slideButtons button {
    position: absolute;
    top: 50%;
    background-color: #FFF;
    border: none;
}

.slideButtons button::before {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid #FFF;
}

.slideButtonL {
    left: 0;
}

.slideButtonR {
    right: 0;
}

.heroCard {
    display: flex;
    justify-content: center;
}

.heroCard figure,
.heroCardTextBox {
    width: calc(40% - 10px);
    height: 65vh;
}

.heroCardTextBox {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 20px;
    color: #666;
}

.heroCardTextBox span {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
}

.heroCardTextBox h1 {
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 2.9rem;
}

.heroCard button {
    text-transform: uppercase;
    /* background-color: #ADB5BD; */
}

.indicatorButtons {
    height: 5vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.slideIndicator {
    border: 1px solid transparent;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    background-color: #ADB5BD;
    margin: 5px;
}

.currentSlide {
    background-color: #C8A165;
}

/* Featured Product styles */

.featuredProductSection {
    width: 80%;
    display: flex;
    justify-content: center;
}

.featuredProductProduct,
.featuredProductQuote {
    width: calc(45% - 10px);
    max-width: 350px;
    margin: 20px;
    padding: 0 20px;
    background-color: #FFF;
    box-shadow: 7px 5px 5px #E9ECEF;
}

.featuredProductQuote {
    display: flex;
    align-items: center;
}

.featuredProductProduct figure {
    height: 170px;
    margin: 20px auto;
}

.featuredProductQuote figure {
    height: 220px;
}

.fpDetails {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.fpPrice {
    font-size: 1rem;
}

.fpTitleCategory {
    text-align: left;
}

.fpTitle {
    font-weight: 700;
    font-size: 1rem;
    color: #000;
}

.fpCategory {
    font-size: 0.8rem;
}

.fpQuote {
    text-align: left;
    text-transform: uppercase;
    margin-left: 30px;
    width: 50%;
}

.fpQuote p {
    color: #C8A165;
}

/* Product Slider styles */

.productSliderSection {
    margin: 0 auto;
}

.productSlider {
    display: flex;
    justify-content: center;
}

.prevNext {
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding: 5px;
    margin: 0 10px;
    letter-spacing: 0.3rem;
}

/* .productsSliderSection h2 {
    position: relative;
    display: inline-block;
    width: auto;
}

.productSliderSection h2::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    border-bottom: 3px solid #C8A165;
} */